
<div class="row">
    <div class="col-12">
        <form #myForm = "ngForm"
        (ngSubmit)="onCreatePost(myForm.value)">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" 
            name="title" 
            id="title" 
            required
            ngModel
            class="form-control">
        </div>
        <div class="form-group">
            <label for ="content">Content</label>
            <textarea name="content"
            id = "content"
            cols = "30"
            rows="3"
            class = "form-control"
            ngModel required></textarea>
        </div>
        <button type="submit" [disabled]="myForm.invalid"
        class="btn btn-danger">
        Click Me To Send.
    </button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-danger" (click)="onFetchPosts()">
            Fetch Posts 
        </button>|
        <button class="btn btn-primary" (click)= "onDeletePost()">
            Clear Posts
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" 
            *ngFor="let post of loadedPosts">
            <h4>{{post.title}}</h4>
            <p>{{post.content}}</p>
        </li>
        </ul>

    </div>
</div>