<h1 style="text-align: center; font-size: large; color: red;">Welcome to RXJS Observable Page:</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="#" style="color: yellow; font-weight: bold;">Renault-Nissan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <app-test1></app-test1> -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" style="color: yellow; font-weight: bold;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""  routerLink="td-forms" routerLinkActive="active" style="color: yellow; font-weight: bold;">Observable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="td-forms" routerLinkActive="active" style="color: yellow; font-weight: bold;">Template Driven-Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="rxjs" routerLink="td-forms" routerLinkActive="active" style="color: yellow; font-weight: bold;"> RXJS Panel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="pipes" routerLinkActive="active" style="color: yellow; font-weight: bold;">Pipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="reactive-forms" routerLinkActive="active" style="color: yellow; font-weight: bold;">Reactive Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="blogs" routerLinkActive="active" style="color: yellow; font-weight: bold;">Blogs-HTTP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="my-voting" routerLinkActive="active" style="color: yellow; font-weight: bold;">Voting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="integration" routerLinkActive="active" style="color: yellow; font-weight: bold;">Integration</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


