.vote-count
{
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.3em;
}

.highlighted
{
    font-weight: bold;
    color: blue;
}

.voter
{
text-align: center;
background-color: yellowgreen;
}